@charset "UTF-8";

footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.bg-lightgray
{
    background-color:LightGray;
}

@import  url('https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css');

